CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
tp1/CPPMA-Spring2023-Lab/build/
tp1/CPPMA-Spring2023-Lab/.vscode/tasks.json
tp2/.vscode/
tp2/.gmon.out/
